meddig kell a 3 alkalmat megcsinálni?
mi a követelmény az 5-höz ebben a félévben?

30 oldal képek nélkül

12 oldal félévben
vizsgaidőszak végéig kell

irodalmi jegyzék 2 oldal nagyon fontos
színes ábra kép beletétel, ezt nézik

